@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Usando a fonte Inter */
    background-color: #0a192f; /* Cor de fundo azul escura principal */
    color: #ccd6f6; /* Cor de texto clara padrão */
    padding-bottom: 80px; /* Espaço para o botão fixo não cobrir o último item */
}

svg {
    margin-right: 8px;
}