.mydata-container {
background-color: #fff;
border-radius: 10px;
width: 100%;
height: 50%;
min-height: 60vh;
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 1rem;
}

.mydata-info{
margin-top: auto;
margin-bottom: auto;
display: flex;
justify-content: center;
align-items: center;
gap: 10rem;
width: 100%;
height: 90%;

}

.image-name-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
padding: 3rem;
width: 40%;
border-right: solid 1px #e5e5e5;
}

.other-data-container {
width: 40%;
}

.other-data {
display: flex;
gap: 1rem;
margin-bottom: 2rem;
}

.my-img {
width: 181px;
height: 181px;
border-radius: 50%;
}

.myuser-name, .myuser-category{
color: #656565;
}

.myuser-name{
font-size: 2.6rem ;
font-weight: 500;
line-height: 30px;
}

.myuser-category{
font-size: 1.8rem;
font-weight: 500;
line-height: 24px;
text-align: center;
display: flex;
align-items: center;
gap: 1.5rem;
}

.myuser-info{
color: #828282;
font-weight: 400;
font-size: 1.8rem;
line-height: 24px;
text-align: center;
}

.myuser-edit{
cursor: pointer;
}

.material-symbols-outlined{
height: 20px;
width: 20px;
position: relative;
right: 20px;
}

#github-icon{
position: relative;
left: 0.6rem;
}

#edit-icon{
color: #E60B82;
position: relative;
top: 7.5px;
left: -25px;
font-variation-settings: 'FILL' 0;
}

#edit-icon:hover{
cursor: pointer;
}

@media (max-width: 480px){
.minha-conta .menu-icon{
    position: relative;
    top: 95px;
    left: 25px;
}
#edit-icon{
    top: 5px;
}
.mydata-container{
    height: 100%;
    width: 100%;
}
.mydata-info{
    display: flex;
    flex-direction: column;
}
.mydata-info{
    gap: 2.5rem;
}
.other-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-name-container{
    border-right: none;
    border-bottom: solid 1px #e5e5e5;
}
#containerMinhaConta.container{
    height: 100%;
    margin-left: 0;
}
}

@media (max-width: 768px){
.minha-conta .menu-icon{
    position: relative;
    top: 95px;
    left: 25px;
}
#edit-icon{
    top: 5px;
}
.mydata-container{
    height: 100%;
    width: 100%;
}
.mydata-info{
    display: flex;
    flex-direction: column;
}
.mydata-info{
    gap: 2.5rem;
}
.other-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-name-container{
    border-right: none;
    border-bottom: solid 1px #e5e5e5;
}
#containerMinhaConta.container{
    height: 100%;
    margin-left: 0;
}
}

@media (max-width: 1024px){
#containerMinhaConta.container{
    height: 100%;
}
.mydata-container{
    height: 100%;
    width: 100%;
}
.mydata-info{
    display: flex;
    flex-direction: column;
}
.mydata-info{
    gap: 2.5rem;
}
.other-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-name-container{
    border-right: none;
    border-bottom: solid 1px #e5e5e5;
}
}  