.sidebar {
    width: 20vw;
    max-width: 350px;
    height: 100vh;
    background-color: #EEF7FF; /* Cor de fundo do sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0a192f;
    position: fixed; /* Fixar a barra lateral */
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombreamento sutil */
    z-index: 10;
}

.logo {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.logo img {
    max-width: 100%; /* Logo não excede a largura do sidebar */
    height: auto;
}

.sidebar-options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.sidebar-options a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #0a192f;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
    border-left: 3px solid transparent; /* Adiciona uma borda para o efeito ativo */
    white-space: nowrap; /* Evita que o texto quebre */
    overflow: hidden;      /* Garante que o texto não vaze */
    text-overflow: ellipsis; /* Adiciona ... se o texto for muito longo */
}

.sidebar-options a:hover, .sidebar-options a.active {
    background-color: #66d3cf; /* Cor de fundo ao passar o mouse e ativo */
    color: #0c3040;
    border-left-color: #0c3040; /* Cor da borda esquerda quando ativo */
}

.sidebar-options a:hover {
     color: #0c3040;
}

.sidebar-options a .icon {
    margin-right: 12px;
    font-size: 1.1em; /* Ajuste o tamanho do ícone conforme necessário */
    width: 24px; /* Largura fixa para alinhar o texto */
    text-align: center;
}

.sidebar-options a .text {
    flex-grow: 1; /* Permite que o texto se expanda */
}


.user-profile {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid #154d5e;
    width: 100%;
    box-sizing: border-box;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta a imagem para caber no círculo */
}

.user-name {
    font-size: 1em;
    font-weight: 600;
    color: #0a192f;
    margin-right: auto; /* Empurra o nome para a esquerda */
}

.settings-icon {
    color: #0a192f;
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: 1.1em;
}

.settings-icon:hover {
    color: #fff;
}
